/* Fonts
font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif;
*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    background-color: #282828;
    text-align: center;
}
.navBarBranding{
    width: 10vw;
    margin: 5px;
    min-width: 80px;
    max-width: 110px;

}
.navBarBackground{
    background-color: #FF8615;
    font-size: 1.1em;

}
.pageFooter{
    background-color:  #FF8615;
    color:white;
    font-weight: bold;
}