/* Fonts
font-family: 'Bebas Neue', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif;
*/
.frango{
    width: 100%;
}

.maintance-text{
    color: #FF8615; /* Will override color (regardless of order) */
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
    .maintance-text {font-size:2rem;} /*1rem = 16px*/
  }
   
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {  
    .maintance-text {font-size:2rem;} /*1rem = 16px*/
  }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    .maintance-text {font-size:2.5rem;} /*1rem = 16px*/
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    .maintance-text {font-size:3rem;} /*1rem = 16px*/    
  }